.faq {
  max-width: rem(1200);
  margin: rem(60) rem(45);
  &__title {
    margin: 0 0 rem(40) 0;
    padding: 0;
  }
  @media screen and (max-width: 767px) {
    margin: rem(80) rem(25);
  }
  @media screen and (max-width: 320px) {
    margin: rem(80) rem(15);
  }
}
