//====================================================================================================
.page__content {
	padding-left: 270px;
}
//====================================================================================================
.slider {
	width: 100%;
	height: 90vh;
	margin: 0;
	padding: 0;
	@media screen and (max-width: 767px) {
		padding: rem(60) rem(25) 0 rem(25);
	}
	&__slogan {
		font-weight: 400;
		font-size: rem(12);
		color: $dryGray;
		margin: rem(65) 0 rem(10) rem(65);
		padding: 0;
		@media screen and (max-width: 768px) {
			margin: rem(75) 0 rem(10) rem(65);
		}
		& span {
			color: $dryOrange;
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		position: relative;
		margin: 0 rem(65) 0 rem(65);
	}

	&__item {
		width: 100%;
		height: 95vh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: rem(40) rem(65);
		&_full {
			height: 100vh;
			padding: 0;
			position: relative;
			display: block;
		}
		@media screen and (max-width: 1023px) {
			padding: 0;
		}
		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			height: 85vh;
		}
	}
	&__item-img {
		width: rem(400);
		height: rem(600);
		position: relative;
		margin: 0;
		padding: 0;
		@media screen and (max-width: 425px) {
			width: 100%;
			height: rem(480);
		}
		@media screen and (max-width: 320px) {
			height: rem(405);
		}
	}
	&__img {
		width: 100%;
		max-height: rem(1200);
		object-fit: cover;

		@media screen and (max-width: 768px) {
			max-height: rem(350);
			object-fit: cover;
			display: none;
		}
		@media screen and (max-width: 425px) {
			display: none;
		}
	}
	&__img-mobile {
		display: none;
		@media screen and (max-width: 425px) {
			width: 100%;
			height: auto;
			object-fit: cover;
			display: block;
		}
		@media screen and (max-width: 425px) {
			height: 60vh;
		}
	}
	&__product-item-img {
		width: rem(400);
		height: rem(600);
		position: relative;
		margin: 0;
		padding: 0;
		@media screen and (max-width: 425px) {
			width: rem(320);
			height: auto;
		}
	}
	&__product-img {
		width: 100%;
		height: auto;
		object-fit: contain;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		@media screen and (max-width: 425px) {
			width: rem(320);
		}
		@media screen and (max-width: 320px) {
			width: rem(270);
		}
	}

	&__img-bg {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		@media screen and (max-width: 425px) {
			height: 20vh;
			align-items: center;
			justify-content: space-around;
		}
		&_full {
			width: rem(400);
			height: rem(400);
			position: absolute;
			right: rem(100);
			top: rem(100);
			z-index: 110;
		}
	}

	&__ico {
		width: 60px;
		height: auto;
		background-size: contain;
		margin: 0 0 auto 15px;
		@media screen and (max-width: 1024px) {
			width: 35px;
		}
	}

	&__title {
		@include adaptiveValue("font-size", 48, 24, 1920, 320);
		font-weight: 400;
		@include adaptiveValue("line-height", 84, 32, 1920, 320);
		color: $dryOrange;
		margin: 0 0 0 30px;
		padding: 0;
		@media screen and (max-width: 425px) {
			text-align: center;
			margin: rem(5) 0 0;
		}
	}

	&__subtitle {
		display: inline;
		@include adaptiveValue("font-size", 38, 18, 1920, 320);
		font-weight: 400;
		color: $dryGray;
		margin: 0 0 0 110px;
		padding: 0;
		@media screen and (max-width: 768px) {
			margin: 0 auto;
		}
	}

	&__sale {
		display: block;
		max-width: 400px;
		font-style: normal;
		font-weight: 400;
		@include adaptiveValue("font-size", 48, 24, 1920, 320);
		@include adaptiveValue("line-height", 72, 42, 1920, 320);
		color: $dryOrange;
		margin: 0 0 0 auto;
		padding: 0;
		text-align: center;

		& span {
			font-weight: 400;
			@include adaptiveValue("font-size", 144, 48, 1920, 320);
			@include adaptiveValue("line-height", 150, 50, 1920, 320);
		}
		@media screen and (max-width: 768px) {
			text-align: left;
			margin: 0;
		}
	}

	&__shveden {
		width: 100%;
		font-weight: 400;
		@include adaptiveValue("font-size", 48, 24, 1920, 1024);
		line-height: 56px;
		text-transform: uppercase;
		color: $dryOrange;
		margin: 0 0 0 35px;
	}

	&__shveden-flag {
		width: auto;
		@include adaptiveValue("height", 88, 45, 1920, 320);
		height: 88px;
		background-size: cover;
	}

	&__btn {
		max-width: rem(200);
		display: block;
		margin-left: auto;
		padding: rem(10) rem(30);
		@media screen and (max-width: 425px) {
			width: 100%;
			text-align: center;
			padding: auto;
			margin: 0 auto;
		}
	}
}
//====================================================================================================
.effect {
	width: 100%;
	background-color: $dryWhite;
	position: relative;
	margin: 80px 0 0 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr;
		padding: 0 rem(35);
	}
	@media screen and (max-width: 423px) {
		padding: 0 rem(15);
	}
	@media screen and (max-width: $mobile) {
		margin: rem(30) 0 0 0;
	}
	@media screen and (max-width: 320px) {
		padding: 0 rem(5);
	}
	&__txt {
		color: $dryDarkGray;
		font-weight: 400;
		@include adaptiveValue("font-size", 18, 13, 1920, 320);
		@include adaptiveValue("line-height", 28, 15, 1920, 1023);
		padding: 0;
		margin: 0;
		@include adaptiveValue("margin-left", 30, 10, 1920, 767);
		span {
			font-weight: 400;
		}
	}

	&__title {
		display: block;
		margin-left: rem(35);
		@media screen and (max-width: 767px) {
			font-size: rem(24);
			padding: rem(25) 0;
		}
		@media screen and (max-width: 320px) {
			margin-left: rem(15);
			padding: rem(15) 0;
		}
	}

	&__list {
		max-width: 790px;
		margin: 65px 10px 0 35px;
		list-style: none;
		padding: 0;
		@media screen and (max-width: 768px) {
			margin: 0;
		}
	}

	&__item {
		display: grid;
		grid-template-columns: 70px 1fr;
		margin: 10px 0;
	}

	&__icon {
		width: 100%;
		@include adaptiveValue("height", 70, 40, 1920, 768);
		background-size: auto;
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
		filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
		@media screen and (max-width: $mobile) {
			height: rem(50);
		}
	}

	&__img {
		width: 100%;
		max-height: 900px;
		object-fit: cover;
	}
}
//====================================================================================================
.years {
	width: 100%;
	margin: 65px 0 0 0;
	display: grid;
	gap: rem(20);
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	@media screen and (max-width: 1023px) {
		grid-template-columns: 1fr;
	}
	&__about {
		display: flex;
		flex-direction: column;
	}

	&__title {
		width: 100%;
		margin: 0 0 20px 35px;
		padding: 0;
		@media screen and (max-width: 425px) {
			width: 100%;
			margin: 0 35px 20px 35px;
		}
		@media screen and (max-width: 424px) {
			margin: 0 15px 20px 15px;
		}
		@media screen and (max-width: 320px) {
			margin: 0 10px 20px 10px;
		}
	}

	&__txt {
		font-weight: 400;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		color: $dryDarkGray;
		@media screen and (max-width: 425px) {
			width: 100%;
			margin: 0 35px 20px 35px;
		}
		@media screen and (max-width: 320px) {
			margin: 0 10px 20px 10px;
		}
	}

	&__video {
		width: 100%;
		margin: 25px auto 0;
		position: relative;
		height: auto;
		img {
			max-width: 100%;
		}
		@media screen and (max-width: 1024px) {
			max-width: rem(470);
		}
		@media screen and (max-width: 425px) {
			max-width: rem(280);
			margin: 20px 15px;
		}
	}
	&__video-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__motivation {
		display: flex;
		flex-direction: column;
		padding: rem(10);
		margin: rem(80) 0 0 0;
		@media screen and (max-width: $mobile) {
			margin: rem(30) 0 0 0;
		}
		& span {
			font-weight: 400;
			font-size: 36px;
			line-height: 42px;
			color: $dryOrange;
		}
		@media screen and (max-width: 425px) {
			margin: rem(30) 0;
			padding: rem(30);
		}
		@media screen and (max-width: 424px) {
			margin: rem(10) 0;
			padding: rem(10);
		}
	}
	&__documents {
		box-sizing: border-box;
		border-radius: 10px 0px;
		display: flex;
		flex-direction: row;
		gap: rem(15);
		align-items: center;
		margin-top: rem(20);
		background: $dryWhite;
		transition: 0.5s all;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		&:hover {
			cursor: pointer;
			box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		}
		&_popup {
			margin: rem(10) 0;
			border: none;
			color: $dryGray;
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			&:hover {
				border: none;
				box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
			}
		}
	}
	&__document-icon {
		width: rem(31);
		height: rem(40);
		margin: rem(10);
		display: flex;
		align-items: flex-start;
		&_popup {
			margin: rem(10) rem(10) rem(10) 0;
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
			filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
		}
	}
	&__link {
		color: $dryOrange;
	}

	&__document-link {
		font-weight: 400;
		color: $dryGray;
		@include adaptiveValue("font-size", 18, 13, 1920, 320);
		@include adaptiveValue("line-height", 22, 16, 1920, 320);
		&_popup {
			color: $dryGray;
		}
	}
}

//====================================================================================================
.info {
	width: 100%;
	margin: 85px 0;
	@media screen and (max-width: 1023px) {
		margin: 35px 0;
	}
	&__footer {
		margin: 20px 35px;
		@media screen and (max-width: 767px) {
			margin: 0;
		}
		&_product {
			margin: 20px 20px;
		}
	}

	&__text {
		margin: 0;
		padding: 0;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		color: $dryDarkGray;
	}

	&__buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1024px) {
			gap: rem(30);
		}
		@media screen and (max-width: 424px) {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: rem(10);
		}
	}
	&__content {
		min-height: rem(305);
	}
}
